@model IEnumerable<onBoardingApi.Models.TActividad>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreActividad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionActividad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiasEvaluar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreActividad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionActividad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiasEvaluar)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdActividad }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdActividad }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdActividad })
        </td>
    </tr>
}

</table>
